/*css reset */

*{
margin: 0;
padding: 0;
border: none;
text-decoration: none;
box-sizing: border-box;
}

@font-face {

    font-family: 'Love';
    src: url(../fonts/Riviera.otf); /*use o ctrl + espaço para selecionar o arquivo*/
    font-weight: normal;
    font-style: normal;
}
body{
    text-align: center;
    color: black;
}


main {
    height: auto;
    width: 100%;
    background-color: #d0d5f2;
}

button{
    padding: 2px 13px 2px 13px;
    cursor: pointer;
    margin-top: 10px;
}


.fonte{
    font-family: nova;
}

#cabecalho{
    background-color: #d0d5f2;
    width: 100%;
    height: 130px;
    margin: auto;
}

#logo{
    float: left;
    margin-top: 25px;
    margin-left: 15px;

}

#inicio{
    float: right;
    margin-right: 150px;
    color: #0c0d0d;
    margin-top: 25px;
    text-decoration: none;
}

a{
    text-decoration: none;
}

#carteira{
    float: right;
    margin-right: 40px;
    text-decoration: none;
    background: linear-gradient(90deg, #B629F2 -67.86%, #D0D5F2 102.89%);
    color: #060407;
    margin-top: 25px;
    border: 1.5px solid;
    border-radius: 10px;
    border-color: #D0D5F2;
}

#agrupamento1{
    clear:both;
     width: 100%;
    height: 400px;
    background-color: #2a2773;

}
.banner1 {
margin:auto;
font-family: 'Love';
width: 100%;
height: 50px;
font-size: 30px;
text-align: center;
color: #FFFAFA;
text-shadow: 0px 0px 25px #FFFFFF;
padding-top:20px;

    }
.linha{
    width: 10%;
    height: 7px;
    margin: auto;  
    background-color: #fff;
    text-shadow: 0px 0px 20px #FFF;
    border: 1.5px solid #fff;
    box-shadow: 0 0 25px #fff;
    margin-top: -20px
}    

#agrupamento2{
    position: relative;
    display: flex;
    justify-content: center;
    width: 100%;
    height: 400px;
    background-color: #2a2773;
    margin-top: 300px;
}

#agrupamento3{
    position: relative;
    display: flex;
    justify-content: center;
    width: 100%;
    height: 400px;
    background-color: #2a2773;
    margin-top: 300px;
}

#agrupamento4{
    position: relative;
    display: flex;
    justify-content: center;
    width: 100%;
    height: 400px;
    background-color: #2a2773;
    margin-top: 300px;
}

#agrupamento5{
    position: relative;
    display: flex;
    justify-content: center;
    width: 100%;
    height: 400px;
    background-color: #2a2773;
    margin-top: 300px;
}

#agrupamento6{
    position: relative;
    display: flex;
    justify-content: center;
    width: 100%;
    height: 400px;
    background-color: #2a2773;
    margin-top: 300px;
}




#caixa1,
#caixa2,
#caixa3 {
    position: relative;
    width: 20%;
    height: 500px;
    margin-top: 10px;
    border:1.5px solid #B629F2;
    background-color: #09031F;
    float: left;
    object-fit:fill;
    border-radius: 20px;
    margin-top: 50px;
}

#caixa1 {
    margin-left: 10%;
}

#caixa2 {
    margin-left: 10%;
    margin-right: 10%;
}


#agrupamento1 img, #agrupamento2 img, #agrupamento3 img, #agrupamento4 img, #agrupamento5 img, #agrupamento6 img{
    width: 95%;
    height: 280px;
    margin-top: 15px;
    border-radius: 10px;
    object-fit: cover;
}

#details{
    position: absolute;
    width: 100%;
    height: 10px;
    background-color: #09031F;
    z-index: 2;
    top: 297px;
   
}
/* tinha um p aqui em baixo, arruma ai pq n pode ter tag solta no css senao buga */
/*{
    font-family: 'LatoBold';
    text-align: left;
    margin-left: 10%;
    margin-top: 3%;
    color: #fff;
}*/

#price{
    color: #fff;
}

#cabecalho2 {
    background-color: #D0D5F2;
    width: 100%;
    height: auto;
    background-repeat: no-repeat;
    background-size: cover;
}

.titulo-meio {
    font-family: 'Love';
    width: 370.11px;
    font-style: normal;
    font-weight: 400;
    font-size: 80px;
    line-height: 50px;
    text-align: center;
    color: #2a2773;
    margin: auto;
    float: left;
    margin-top: 300px;
    margin-left: 10%;
    
}



.fundo-da-caveira {
    padding-top: 50px;
    float:right;
    margin-right: 100px;
    margin-bottom: 30px;
}

/* footer */

#footer-all {
    background-color: #161A26;
    width: 100%;
    height: 365px;
    margin-top: 400px;
    }
    
    #social-mob {
    display: none;
    }
    
    .background-grego {
    position: relative;
    float: right;
    width: 306.23px;
    margin-top: -130px;
    }
    
    .newsletters {
    padding-top: 20px;
    float:left;
    font-family: 'Lato';
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 48px;
    letter-spacing: -0.05em;
    color: #D0D5F2;
    margin-left: 65px;
    }
    
    .texto-newsletters {
    width: 190.52px;
    margin-top: 10px;
    font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    letter-spacing: -0.05em;
    color: #D0D5F2;
    margin-left: 65px;
    text-align: left;
    
    }
    
    .button-incricao {
    position: relative;
    width: 147.58px;
    height: 58.12px;
    background-color: #161A26;
    border: 1px #D0D5F2 solid;
    border-radius: 20px;
    margin-top: 50px;
    float: left;
    margin-left:60px ;
    }
    
    .button-incricao a {
    color: #D0D5F2;
    font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    color: #D0D5F2;
    }
    
    .logo-lilas {

        float: left;
        margin-left: -150px;
        margin-top: 150px;


    }
    
    #inicio-home-footer {
        position: relative;
        top: -385px;
        clear: both;
        padding-top: 50px;
        font-family: 'Lato';
        font-style: normal;
        font-weight: 700;
        font-size: 30px;
        line-height: 36px;
        display: flex;
        justify-content: center;
        align-items: center;
        color: #D0D5F2;
    }
    
 
.home-footer a {
    margin: 0 10px;
    color: #D0D5F2;
    }
    
    .artistas-footer a {
    margin: 0 10px;
    color: #D0D5F2;
    }
    
    .button-meta {
    width: 147.58px;
    height: 48.12px;
    border: 1px solid #D0D5F2;
    border-radius: 20px;
    background-color: #161A26;
    position: relative;
    display: block;
    margin: auto;
    clear: both;
    top: -80PX;
    }
    
    #social {
    position: relative;
    top: 180px;
    float: right;
    left: 300px;
    }
    
    #social a {
    margin: 10px;
    }
    
    .button-meta a {
    color: #D0D5F2;
    }

    #transicao:hover {
        transform: scale(1.1, 1.1);
    }
    
