*{
    padding: 0;
    border: 0;
    margin: 0;
}

@font-face {
    font-family: LatoBold;
    src: url(fontes/Lato/Lato-Bold.ttf);
}

@font-face {
    font-family: LatoRegular;
    src: url(fontes/Lato/Lato-Regular.ttf);
}

body{
    text-align: center;
    color: black;
}

header{
    width: 100%;
    height: auto;
}

main{
    position: absolute;
    width: 100%;
    height: auto;
    background-color: #d0d5f2;
    
}

footer{
    float: left;
    width: 100%;
    height: 250px;
    position: relative;
    color: #d0d5f2;
    background-color: #161A26;
    font-family: 'LatoBold';
}


#f-dir img{

    width: 35px;
    height: 35px;
}

header img{
    width: 1320px;
    height: 589px;
}

section{
    display: flex;
    justify-content: center;
}

#agrupamento1{
    position: relative;
    display: flex;
    justify-content: center;
    width: 70%;
    height: auto;
}

#agrupamento2{
    position: relative;
    display: flex;
    justify-content: center;
    width: 70%;
    height: auto;
}

#caixa1, #caixa2, #caixa3, #caixa4{
    margin: 50px;
    position: relative;
    float: left;
    width: auto;
    height: auto;
}

#agrupamento1 img, #agrupamento2 img{
    width: 284px;
    height: 397px;
}

#details{
    position: absolute;
    width: 284px;
    height: 100px;
    background-color: #fff;
    border-radius: 0 0 14px 14px;
    z-index: 2;
    top: 297px;
   
}

p{
    font-family: 'LatoBold';
    text-align: left;
    margin-left: 10%;
    margin-top: 3%;
}

#price{
    color: #5a5a5a;
}

#f-sup-dir{
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

#f-sup{
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-top: 20px;
    width: 100%;
    height: 40px;

}

#f-sup-c{
    display: flex;
    flex-direction: row;
    width: 50%;
}

#espaco{
    margin-left: 8%;
    margin-right: 8%;
}

#f-meio-d{
    position: relative;
    float: left;
    margin-left: 10.5%;
    text-align: left;
    width: 30%;
    font-size: 20px;
    font-family: 'LatoRegular';
}

#btn{
    position: relative;
    display: flex;
    margin-top: 15px;
    padding-top: 7px;
    justify-content: center;
    border: #d0d5f2 solid 2px;
    width: 150px;
    height: 33px;
    border-radius: 20px;
    text-decoration: none;
    color: #d0d5f2;
}


#f-inf{
    width: 100%;
    margin-top: 10px;
    position: relative;
    display: flex;
    float: left;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}

#f-dir a{
    margin-right: 20px;
}

#logo{
    width: 35px;
    height: 49px;
}

#f-inf #btn{
    margin-left: 190px;
}
